<div class="site-header">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-navicon fa-lg"></i>
      </a>

      <div class="trigger">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>

<div class="app-bar" data-role="appbar">
    <a class="app-bar-element" href="...">Home</a>
    <span class="app-bar-divider"></span>
    <ul class="app-bar-menu">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </ul>
</div>


      </div>
    </nav>


</div>


